/* Page and Background */
body {
  background-color: #dedede;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #436d90;
	z-index: -1;
}

.panel {
  margin: 20px auto;
  width: 700px;
  background-color: #d2e6ed;
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.panel-header {
  margin: 20px 10px 25px 10px;
  color: #436d90;
  font-family: Georgia, serif;
}

.panel-header-logo {
  margin-top: 15px;
}

#pageerror {
  color: red;
  display: none;
  margin: 10px; 
}


/* Pictures */
.panel-contacts-goppic {
  height: 100px;
  width: 100px;
  margin-right: 2px;
  margin-left: 2px;  
}

.panel-contacts-wappic-loading {
  display: none;
}

.panel-contacts-wappic {
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
}

.panel-contacts-wappic-wrapper {
  white-space: nowrap;
}

.panel-contacts-wappic-nopic {
  display: none;
}

/* Table */
table.panel-contacts-list {
  font-family: cursive;
  font-size: large;
  background-color: #436d90;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.panel-contacts-list td, table.panel-contacts-list th {
  padding: 3px 2px;
}
table.panel-contacts-list tbody td {
  color: #E6E6E6;
}
table.panel-contacts-list tr:nth-child(even) {
  background: #2D7EC9;
}
table.panel-contacts-list thead {
  background: #436d90;
}
table.panel-contacts-list thead th {
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
}

/* Loader */
#loaderwrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#loadertext {
  color: #436d90;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 50px;
  font-family: cursive;
}

#loaderbounceball {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #436d90; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  height: 77px;
  width: 77px;
  margin: 5px auto 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}